@page "/"

<PageTitle>Главная страница</PageTitle>

<h1>Привет, это мое домашнее задание!</h1>
<h1>Оно было выполнено на Blazor Server</h1>
<h3>
	Автор: <a href="https://vk.com/id538682062">Корнильев Максим</a>
</h3>
